[submodule "kokoro-tts"]
	path = kokoro-tts
	url = https://github.com/mishandledservitor/kokoro-tts.git

[submodule "whisper-stt"]
	path = whisper-stt
	url = https://github.com/mishandledservitor/whisper-stt.git
[submodule "whisper-diarize"]
	path = whisper-diarize
	url = https://github.com/mishandledservitor/whisper-diarize.git
