[submodule "kokoro-tts"]
	path = kokoro-tts
	url = https://github.com/mishandledservitor/kokoro-tts.git

[submodule "whisper-stt"]
	path = whisper-stt
	url = https://github.com/mishandledservitor/whisper-stt.git
[submodule "whisper-diarize"]
	path = whisper-diarize
	url = https://github.com/mishandledservitor/whisper-diarize.git
[submodule "speech-to-text"]
	path = speech-to-text
	url = https://github.com/mishandledservitor/speech-to-text.git
[submodule "assemblyai-stt"]
	path = assemblyai-stt
	url = https://github.com/mishandledservitor/assemblyai-stt.git
