[submodule "kokoro-tts"]
	path = kokoro-tts
	url = https://github.com/mishandledservitor/kokoro-tts.git

[submodule "whisper-stt"]
	path = whisper-stt
	url = https://github.com/mishandledservitor/whisper-stt.git
